@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@import "tailwindcss";
@plugin "daisyui" {
  themes: light --default
  , dark --prefersdark;
}

@plugin "daisyui/theme" {
  name: "light";
  default: true;
  --color-primary: #4CAF4F;
  --color-secondary: #263238;
  --color-white-200 : #F5F7FA;
  --color-base-300 : #e7e7e7;
  --color-accent: #4D4D4D;
}


@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

* {
    font-family: "Inter", sans-serif;
}



.glass-card {
  background: rgba(255, 255, 255, 0.14);
  backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(6px);
  border-radius: 20px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  /* overflow: hidden; */
}

.navbar .active {
  color: #4CAF4F;
  font-weight: bold;
}